<div class="header">
    <div class="wrapper">
        <div class="head_block">
            <button routerLink="/">
                <img src="assets/icons/back.svg" alt="">
            </button>
            <h1>Создание сообщения</h1>
        </div>
    </div>
</div>
<div class="wrapper">
    <form>
        <div class="inp_item">
            <h3>Тема сообщения</h3>
            <input type="text">
        </div>
        <div class="inp_item">
            <h3>Текс сообщения</h3>
            <textarea name="text" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="inp_item">
            <h3>Ссылка на картинку</h3>
            <input type="text">
        </div>
        <button class="save">Создать</button>
    </form>
</div>